html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  height: 100%;
}
label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  color: yellow;
  display: none;
  width: 26px;
  float: right;
}
#toggle {
  display: none;
}
.nav {
  border-bottom: 1px solid white;
  text-align: right;
  height: 70px;
  line-height: 70px;
}
.menu {
  margin: 0 30px 0 0;
}
.menu a {
  text-decoration: none;
  color: white;
  line-height: 70px;
  margin: 0 10px;
}
@media only screen and (max-width: 500px) {
  label {
    display: block;
    cursor: pointer;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  .menu a {
    display: block;
    border-bottom: 1px solid white;
    margin: 0;
    cursor: pointer;
  }
  .menu a:hover {
    color: green;
  }
  #toggle:checked + .menu {
    display: block;
  }
}
@media (max-width: 768px) {
  .container-fluid {
    width: 100%;
  }
  #section-1 {
    margin-bottom: 10px;
  }
  #section-2 {
    padding-left: 80px;
    margin: 0;
    padding-top: 160px;
  }
  .container-fluid #section-3 {
    padding-top: 60vh;
  }
  #section-1 .text1 {
    font-size: 25px;
    padding-bottom: 100px;
  }

  .container-fluid #carde {
    margin: 0;
    width: 20px;
  }
  .form-row {
    float: left;
  }
}
.menu a:hover {
  color: green;
}
#logo {
  padding-top: 14vh;
  text-align: center;
  position: absolute;
  align-content: center;
}
.text1 {
  line-height: 0px;
  color: yellow;
  font-size: 30px;
  font-family: "Pacifico", cursive;
}
.text {
  padding-top: 120px;
  color: white;
  font-size: 80px;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-family: "Nanum Pen Script", cursive;
}
#section-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  line-height: 100%;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  animation: animate 16s ease-in-out infinite;
  background-attachment: fixed;
}
@keyframes animate {
  0%,
  100% {
    background-image: url("../img/cheese-burger.jpg");
  }
  25% {
    background-image: url("../img/chicken-beef\ pepperonni.jpg");
  }
  50% {
    background-image: url("../img/chicken-maconBBQ.jpg");
  }
  75% {
    background-image: url("../img/meat-deluxe.jpg");
  }
  100% {
    background-image: url("../img/display.jpg");
  }
}
.inner,
.inner3,
.inner4 {
  overflow: hidden;
}
.inner img,
.inner3 img,
.inner4 img {
  transition: all 1.5s ease;
}
.inner3,
.inner4 {
  overflow: hidden;
  height: 30vh;
}
#section-2 {
  margin-top: 35%;
  background-image: url("../img/bg2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.my-cards {
  padding-bottom: 20vh;
  top: 1%;
}
.inner4:hover img {
  transform: scale(1.5);
}
.inner3:hover img {
  transform: scale(1.5);
}
.inner:hover img {
  transform: scale(1.5);
}
.varieties {
  font-family: "Pacifico", cursive;
  color: white;
}
#text-check {
  font-size: 15px;
}
#section-3 {
  padding-top: 40px;
}
#section-3 {
  background-image: url("../img/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 8px;
  height: 55vh;
}
.about-us {
  font-family: "Pacifico", cursive;
  color: white;
  font-size: 44px;
  padding-top: 50px;
}
.order {
  font-family: "Pacifico", cursive;
  color: gainsboro;
  font-size: 44px;
}
.about-p {
  margin-top: 30px;
  font-size: 30px;
  color: white;
  font-family: "Rancho", cursive;
}
.contact {
  font-family: "Pacifico", cursive;
  color: white;
  font-size: 44px;
  padding-top: 30px;
}
#custom {
  background-repeat: no-repeat;
  background-image: url("../img/pizza-logo.png");
  background-size: 150px;
  background-color: wheat;
  background-position-x: right;
  padding-left: 100px;
  margin-left: 320px;
  margin-top: 20px;
}
#beef {
  text-align: left;
  font-family: "Rancho", cursive;
  font-size: 30px;
}
#cart-text {
  text-align: left;
  font-family: "Rancho", cursive;
  font-size: 25px;
}
#section-4 {
  background-image: url("../img/bg3.jpg");
  padding-top: 40px;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 8px;
}
#label-text {
  color: black;
  text-emphasis: bold;
  font-size: 13px;
  margin: 3px;
  display: inline-flex;
  line-height: normal;
}
.custom-radio {
  float: left;
  margin: 12px;
}
#label-text1 {
  color: black;
  text-emphasis: bold;
  font-size: 13px;
  margin: 0, 3px, 0, 0;
  display: inline-flex;
  line-height: normal;
  padding-bottom: 10px;
}
#cust-radio {
  margin: 10px;
}
.checkbox-inline {
  float: left;
  margin: 30px;
  margin-top: 0;
}
.form-check-inline {
  margin: 30px;
  line-height: 20vh;
  float: left;
}
#label-text2 {
  color: black;
  font-size: 13px;
  display: inline-flex;
  line-height: normal;
}
#sel1 {
  width: fit-content;
  background-color: burlywood;
}
#number {
  float: left;
}
input[type="number"] {
  width: 88px;
}
input[type="placeholder"] {
  color: white;
}
.textarea {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  margin-left: 400px;
}
.form-group {
  align-content: center;
  text-align: center;
}
#section-5 {
  margin-top: 8px;
  background-image: url("../img/contact2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.form-control {
  background: transparent;
  color: whitesmoke;
}
#submit {
  margin-left: auto;
  background-color: gold;
}
#submit:hover {
  transition: 0.1s;
  color: white;
}
.form-group {
  margin-top: opx;
}
.form-row {
  align-content: center;
  margin-left: 400px;
  padding-top: 50px;
}
footer {
  padding-top: 20px;
  background-color: black;
}
.footer-msg {
  font-size: 20px;
  color: grey;
}
.msg {
  color: grey;
}
